name: Docker CI New solicitudes

on:
  push:
    branches: [ "main" ] # Se activa cuando haces push a la rama main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          # github.actor toma tu nombre de usuario de GitHub automáticamente
          username: ${{ github.actor }}
          # GITHUB_TOKEN es un secreto que GitHub genera solo, no tienes que crearlo tú
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # IMPORTANTE: El formato ahora es ghcr.io/usuario/imagen
          tags: |
            ghcr.io/${{ github.repository_owner }}/acceso:latest